{% extends "admin/base_site.html" %}
{% block extrastyles %}
  {{ block.super }}
{% endblock %}


{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block content %}
<div id="content-main">
      <h1>{{ dashboard_title }}</h1>

      <fieldset class="module aligned ">
        <ul>
          <li>
            <h4>Total Jemaat: {{ total_jemaat }}</h4>
          </li>
          <li>
            <h4>Total Keluarga: {{ total_keluarga }}</h4>  
          </li>
        </ul>
      </fieldset>
</div>
{% endblock %}
